# Generate with: openssl rand -hex 32
ENCRYPTION_KEY=

S3_BUCKET=atajoai

AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ENDPOINT_URL_S3=

# Fallback if token is not set in DB via config panel
CHATWOOT_API_TOKEN=

NODE_ENV=development

REDIS_URL=redis://localhost:6379
MISTRAL_API_KEY=

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mastra

QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
QDRANT_COLLECTION=atajoai-default
QDRANT_VECTOR_SIZE=1024
