output.txt
node_modules
dist
.mastra
.env.development
.env
*.db
*.db-*
.netlify
.vercel
.idea
/.pnpm-store/
.next
.env*
!.env.project
packages/agents/.agents
packages/agents/.mastra
packages/agents/src/mastra/public/dist
packages/agents/node_modules
packages/shared/node_modules
packages/panel/.next
packages/panel/node_modules
packages/shared/src/generated